﻿@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-25" src="./images/b.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-25" src="./images/beerBackground.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
<div class="text-lg-center">
    <h1 class="shadow-lg">Welcome To BeerHUB</h1>
    <p>Learn about our Top ABV Beers!</p>
    <audio src="/music/Dj_Goja_-_Cause_Im_Crazy[ClipConverter.video].mp3" controls="controls" class="justify-content-center">
        <p>Fallback content goes here.</p>
    </audio>
</div>

<div class="container">
    <div class="row">
        @if (Model.TopRatedBeers.Count == 0)
        {
            <p class="alert alert-info">No beers found. Try again later!</p>
        }
        else
        {
            @foreach (var beer in Model.TopRatedBeers)
            {
                <partial name="_SigleBeerPartial" model="beer" />
            }

        }

    </div>
</div>
