﻿@model FilterViewModel

<h1>All Beers Filtered By Style</h1>

<form asp-controller="Beers" asp-action="FilterByStyle" method="post">
    <input type="text" asp-for="@Model.SearchText" value="" />
    <input type="submit" value="Filter" class="btn btn-primary" />

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeerDTO.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerDTO.ABV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerDTO.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerDTO.Brewery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerDTO.Milliliters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerDTO.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerDTO.Style)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SearchResults)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ABV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brewery.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Milliliters)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
